@import url('dttps://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2cm;
    color: rgb(0, 0, 0);
    cursor: default;
}



.navigation a {
    font-size: 1cm;
    color: rgb(8, 207, 207);
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: 3s;
}

.navigation a:hover {
    color: rgb(158, 155, 157);
}

.btn-talk {
    color: ;
    text-decoration: none;
    padding: 8px 35px;
    background-color: rgb(5, 14, 106);
    border-radius: 10px;
    border: 2px rgb(110, 14, 4);
    font-weight: 500;
    transition: 3s;
}

.btn-talk:hover {
    color:black;
    background: transparent;
}